body {
  font-family: sans-serif;
  background-color: #666;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 3em;
  line-height: 1em;
}

.rotate-button {
  background-color: white;
  height: 30px;
  width: 30px;
}

#board-grid {
  height: 450px;
  width: 450px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: #EEE;
}

.cell {
  height: 30px;
  width: 30px;
  border: 2px solid white;
  margin: -2px -2px -2px -2px;
  float: left;
}

.base-container {
  position: relative;
  top: 0px;
  left: 0px;
}

.base {
  display: block;
  position: absolute;
  width : 10px;
  height: 10px;
  background: #008;
  font-size: 0.3em;
}

#hand-grid {
  height: 50px;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid blue;
  background-color: #DDD;
}

.hand-cell {
  height: 30px;
  width: 30px;
  border: 2px solid white;
  margin: 10px 10px 10px 10px;
  float: left;
}

.hand-cell.p2 {
  border: 2px solid orange;
}

.hand-cell.p1 {
  border: 2px solid green;
}

.pointer-cell-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pointer-cell {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid white;
}



/*image classNames*/

.p1cross {
  background-image: url('./images/p1cross.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p1left-hook {
  background-image: url('./images/p1left-hook.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p1one-corner {
  background-image: url('./images/p1one-corner.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p1opposite-corners {
  background-image: url('./images/p1opposite-corners.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p1right-hook {
  background-image: url('./images/p1right-hook.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p1straight {
  background-image: url('./images/p1straight.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p1two-corners-same-side {
  background-image: url('./images/p1two-corners-same-side.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p2cross {
  background-image: url('./images/p2cross.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p2left-hook {
  background-image: url('./images/p2left-hook.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p2one-corner {
  background-image: url('./images/p2one-corner.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p2opposite-corners {
  background-image: url('./images/p2opposite-corners.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p2right-hook {
  background-image: url('./images/p2right-hook.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p2straight {
  background-image: url('./images/p2straight.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
.p2two-corners-same-side {
  background-image: url('./images/p2two-corners-same-side.gif');
  background-size: 30px;
  height: 30px;
  width: 30px;
}
